@model int

<div class="container row pt-4 justify-content-center">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Placed Successfully!</h1>
        <p>Your Order Number is: <strong>@Model</strong></p>
        <img src="~/images/lawn_leaf.jpg" width="65%" alt="Order Success Image" class="img-fluid my-4" />
    </div>
    <div class="col-12 text-center text-maroon">
        <p>Your order has been placed successfully! We appreciate your business and will notify you once the order is processed.</p>
    </div>
    <div class="col-12 text-center mt-3">
        <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn btn-primary text-uppercase">Continue Shopping</a>
    </div>
</div>
